html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(255, 255, 235);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  border: blue 2px solid;
}
.calPage1 {
  display: flex;
  justify-content: space-around;
}
#calculatorComponent {
  border: darkseagreen 4px solid;
  background-color: cornflowerblue;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}

@media screen and (min-width: 620px) {
  .side {
    color: pink;
    font-size: 3rem;
  }
  #calculatorComponent {
    background-color: cornsilk;
    width: 60%;
  }
}

@media screen and (min-width: 960px) {
  .side {
    color: purple;
    font-size: 4rem;
  }
  #calculatorComponent {
    background-color: cyan;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .side {
    color: gray;
    font-size: 5rem;
  }
  #calculatorComponent {
    background-color: darkorange;
    width: 40%;
  }
}
