html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(255, 255, 235);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  border: blue 2px solid;
}

@media screen and (min-width: 620px) {
  .side {
    color: pink;
    font-size: 3rem;
  }
}

@media screen and (min-width: 960px) {
  .side {
    color: purple;
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .side {
    color: gray;
    font-size: 5rem;
  }
}
